@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins';
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #181818;
}

#gc {
    position: absolute;
    width: 100%;
    height: 100%;
}

#inputSection {
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-align: center;
    width: 220px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 20px;
    transform: translate(-50%, 0);
}

#inputSection-page1 {
    width: 175px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#inputSection-page2 {
    visibility: hidden;
    height: 110px;
    width: 175px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 33% 33% 33%;
    top: 20px;
}

#inputSection-page2 > * {
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

#inputSection-page2-btnUp {
    grid-column-start: 1;
    grid-column-end: 4;
}

#inputSection-page2-btnDown {
    
}

#inputSection-page2-btnLeft {
    
}

#inputSection-page2-btnRight {
    
}

#changeInput {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
}

#gridLayout {
    display: grid;
    grid-template-columns: 50% 50%;
}

#sides-container {

}

#sides-label {
    
}

#sides-input {
    margin-top: 5px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    border-radius: 40px;
    border: 1.5px solid black;
}

#sides-input #sides-next {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid black;
    border-left: 1.5px solid black;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
}

#sides-input #sides-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid black;
    border-left: 1.5px solid black;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
}

#sides-value {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: black;
    font-size: 18px;
    font-weight: 1;
    user-select: none;
}

#pushable-container {
    
}

#pushable-label {

}

#pushable-div {
    margin-top: 5px;
}

#pushable {
    height: 30px;
    width: 30px;
    outline: none;
}

#submit-container {
    margin-top: 20px;
    
}

#submit {
    outline: none;
    width: 150px;
    height: 30px;
}

#buttons {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: grid;
    gap: 0.5rem;
}

#buttons > * {
    width: 2rem;
    height: 2rem;
}

#algoText-algo {
    position: absolute;
    color: whitesmoke;
    pointer-events: none;
    margin: 0;
    top: 1rem;
    left: 1rem;
    font-size: max(calc(100vh * 0.02), 14px);
    font-weight: 100;
    width: calc(100vw - 5rem);
}

.modal {
    color: black;
    width: 400px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0, 100px);
    border-radius: 10px;
    z-index: 10;
    background-color: whitesmoke;
    max-width: 80%;
    transition: 400ms ease-in-out;
    opacity: 0;
}

.modal.active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;

}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .modal-closeButton {
    position: absolute;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#modal-overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    pointer-events: none;
    transition: 400ms ease-in-out;
}

#modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Credit: https://stackoverflow.com/a/4407335 */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}