@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins';
    outline: none;
}

:root {
    --background-color: #181818;
    --foreground-color: whitesmoke;
    --button-color: #303030;
    --disabled-color: #BBBBBB;
    --highlighted-color: #34a730;
    --alarm-color: #D64550;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--background-color);
}

#gc {
    position: absolute;
    width: 100%;
    height: 100%;
}

#inputSection {
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-align: center;
    width: 220px;
    height: 110px;
    background-color: var(--foreground-color);
    border-radius: 3px;
    padding: 20px;
    transform: translate(-50%, 0);
}

#inputSection-page1 {
    width: 175px;
    height: inherit;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#inputSection-page2 {
    height: 110px;
    width: 175px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 33% 33% 33%;
}

.hidden {
    display: none !important;
    height: 0 !important;
}

#inputSection-page2 > * {
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#inputSection-page2-btnUp {
    grid-column-start: 1;
    grid-column-end: 4;
}

#changeInput {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
    transition: transform 200ms ease-in-out;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    display: grid;
    border: none;
    background: transparent;
}

#changeInput:hover {
    transform: scale(1.2);
}

#toggle-icon {
    cursor: pointer;
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    transform: rotateZ(90deg);
    filter: invert() brightness(18.75%);
}

#gridLayout {
    display: grid;
    grid-template-columns: 50% 50%;
}

#sides-label {
    font-size: 14px;
}

#sides-input {
    margin-top: 5px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid var(--button-color);
    transition: 500ms;
}

#sides-input #sides-next, #sides-input #sides-prev {
    position: absolute;
    top: 50%;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid var(--button-color);
    border-left: 2px solid var(--button-color);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition: 300ms ease-out;
    pointer-events: none;
}

#sides-input #sides-next {
    right: 10px;
    transform: translateY(-50%) rotate(135deg);
}

#sides-input #sides-prev {
    left: 10px;
    transform: translateY(-50%) rotate(315deg);
}

#sides-input:hover {
    width: 60px;
}

@keyframes delay-pointer-events {
    0% { visibility: hidden; }
    1% { visibility: hidden; }
    100% { visibility: visible; }
}

#sides-input:hover #sides-next, #sides-input:hover #sides-prev {
    animation: delay-pointer-events 200ms linear;
    opacity: 1;
    transition: 400ms ease-out;
    transition-delay: 100ms;
    pointer-events: all;
}

#sides-value {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: var(--button-color);
    font-size: 18px;
    font-weight: 1;
    user-select: none;
}

#pushable-label1, #pushable-label {
    font-size: 14px;
    position: relative;
    top: -2px;
}

#pushable-label {
    cursor: pointer;
}

#pushable-label::before {
    content: "";
    background: url("assets/check-circle.svg");
    filter: brightness(0%) invert(100%) brightness(18.75%);
    background-position: center;
    background-size: contain;
    width: 38px;
    height: 38px;
    position: absolute;
    left: calc(13px - 64.390625px);
    top: 24px;
    transform: scale(0) rotateZ(180deg);
    transition: transform 400ms ease-in-out;
}

#pushable:checked + #pushable-label::before {
    transform: scale(1) rotateZ(0deg);
    transition: transform 400ms cubic-bezier(0.54, 0.01, 0, 1.49);
}

#pushable-label::after {
    content: "";
    border: 2px solid var(--button-color);
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(15px - 64.390625px);
    top: 26px;
    border-radius: 50%;
    outline: 4px solid var(--foreground-color);
}

#pushable-div {
    margin-top: 2px;
}

#pushable {
    display: none;
}

#submit-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#submit {
    font-size: 14px;
    width: 150px;
    height: 30px;
}

#buttons {
    position: absolute;
    right: 1.5vh;
    top: 1.5vh;
    gap: 1.5vh;
    height: 6.7vh;
    min-height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttons > * {
    width: 2.5vh;
    height: 2.5vh;
    min-width: 20px;
    min-height: 20px;
    background-color: transparent;
    border: none;
    color: var(--foreground-color);
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
}

#buttons > *:hover {
    transform: scale(1.2);
}

.icon {
    filter: invert() brightness(96%);
    position: relative;
    width: 2.5vh;
    height: 2.5vh;
    min-width: 20px;
    min-height: 20px;
}

#algoText-algo {
    position: absolute;
    color: whitesmoke;
    pointer-events: none;
    margin: 0;
    top: 1.5vh;
    left: 1.5vh;
    font-size: max(calc(100vh * 0.02), 14px);
    font-weight: 100;
    width: calc(100vw - 5rem);
}

.modal {
    color: black;
    width: 400px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0, 50px);
    border-radius: 10px;
    z-index: 10;
    background-color: whitesmoke;
    max-width: 80%;
    transition: 400ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.notransition {
    transition: none !important;
}

.modal.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    padding: 15px 15px;
    display: flex;
    justify-content: center;

}

.modal-header .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-header .modal-closeButton {
    position: absolute;
    right: 15px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 40px;
    transform: scale(1.3);
}

#modal-body-settings {
    height: auto;
}

#modal-body-tutorial-container {
    height: 350px;
}

#modal-body-settings, #modal-body-tutorial-container {
    padding: 0px 15px;
    max-height: calc(70vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    /* Firefox */
    scrollbar-width: 10px;
    scrollbar-color: var(--button-color) var(--foreground-color);
}

#modal-body-tutorial {
}

.tutorial-image {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #bbbbbe;
    border: solid 4px transparent;
    border-radius: 14px;
}

.modal .slider-container {
    display: inline;
    
}
.modal-body-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.button {
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    background: var(--button-color);
    color: whitesmoke;
    border-radius: 3px;
    transition: 200ms ease-in-out;
    border: 1px solid var(--button-color);
    height: 32px;
}

.button:hover {
    background-color: whitesmoke;
    color: var(--button-color);
}

.buttonDisabled {
    background: #BBBBBB !important;
    border: 1px solid #BBBBBB !important;
    pointer-events: none !important;
}

.buttonHighlighted {
    background: var(--highlighted-color) !important;
    border: 1px solid var(--highlighted-color) !important;
}

.buttonHighlighted:hover {
    color: var(--highlighted-color) !important;
    background-color: whitesmoke !important;
    border: 1px solid var(--highlighted-color) !important;
}

#modal-settings-footer {
    text-align: center;
    padding: 15px 15px;
}

#saveButton {
    padding: 0px 10px;
    font-size: 1rem;
    width: 64px;
}

#saveButton:hover {

}

#defaultButton {
    padding: 0px 10px;
    font-size: 1rem;
    width: 64px;
    border: 1px solid var(--alarm-color);
    color: var(--foreground-color);
    background-color: var(--alarm-color);
}

#defaultButton:hover {
    color: var(--alarm-color);
    background-color: transparent;
}

#modal-tutorial-footer {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skipButton {
    font-size: 1rem;
    padding: 0px 18px;
    font-weight: 100;
}

#tutorial-pageButtons > * {
    width: 32px;
}

#modal-body-tutorial > * {
    display: none;
    text-align: center;
}

#tutorial-page1 {
    display: contents;
}

#modal-body-tutorial > * > h1 {
    font-size: 18px;
    font-weight: 900;
    margin-top: 0;
}

#modal-body-tutorial > * > h2 {
    font-size: 14px;
    font-weight: 100;
    margin-top: 0;
}

#modal-body-tutorial > * :last-child {
    margin-bottom: 0;
}

#tutorial-page1 {
    
}

#modal-overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    pointer-events: none;
    transition: 400ms ease-in-out;
}

#modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* No select, credit: https://stackoverflow.com/a/4407335 */
* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}